/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:wght@400;500;600;700&family=Manrope:wght@200;300;400;500;600;700&family=Montserrat:wght@300;400;500&family=MuseoModerno:wght@100;200;300;400;500;600;700;800&family=Open+Sans&family=Poppins:wght@500;600;700&display=swap");

body {
  background-image: url(/public/banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.search {
  @apply bg-[rgb(0,0,0,0.5)] backdrop-blur-sm text-white  font-semibold outline-none border-2 rounded-md px-3 py-2  w-full max-w-xs;
}

.button {
  @apply flex items-center  bg-yellow-500 px-4 py-2 font-bold text-black rounded-md;
}

.blog {
  @apply md:w-4/5 mx-auto p-5 mb-4 md:p-10 bg-[#111827] backdrop-blur-md  rounded-md text-white;
}
.blog-title {
  @apply text-4xl font-bold py-2;
}

.input-txt {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-white bg-[#111827] leading-tight;
}

.link-txt {
  @apply cursor-pointer hover:underline hover:text-yellow-500;
}
